<mat-toolbar>
  <mat-toolbar-row style="font-size:1.5rem; height: 80px;">
      <span> Agenda <mat-icon>date_range</mat-icon></span>
      <span class="example-spacer"></span>
      <button mat-raised-button (click)="addLive()"><mat-icon>add</mat-icon> Pessoa</button>
      <button mat-raised-button (click)="addContato()"><mat-icon>add</mat-icon> Contatos</button>
      <button mat-raised-button (click)="openSuporte()"><mat-icon>teste</mat-icon> Suportes Balanceados</button>
  </mat-toolbar-row>
</mat-toolbar>
<table-expandable-rows-example></table-expandable-rows-example>
