<h1 mat-dialog-title>Nova Pessoa</h1>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="pessoaForm">
        <mat-form-field class="example-full-width">
            <mat-label>Nome da Pessoa</mat-label>
            <input matInput placeholder="" formControlName="nome" name="nome">
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="createLive()">Adicionar</button>
</div>
