<table #outerSort="matSort"
	[dataSource]="dataSource"
	mat-table
	multiTemplateDataRows
	class="mat-elevation-z8"
	matSort>

	<ng-container *ngFor="let column of columnsToDisplay"
		matColumnDef="{{column.key}}">

		<th *matHeaderCellDef
			[ngSwitch]="column.key"
			class="mat-center"
			mat-header-cell
			mat-sort-header>
			<span *ngSwitchDefault>{{ column.label }}</span>
		</th>

		<td *matCellDef="let element"
			class="tb-center"
			mat-cell>

			<div *ngIf="!element.isEdit"
				[ngSwitch]="column.type">

				<div *ngSwitchCase="'isEdit'"
					class="btn-edit">
					<button (click)="element.isEdit = !element.isEdit"
						mat-button>
						Edit
					</button>
					<button (click)="deletePessoa(element.id)"
						mat-button
						class="button-remove">
						Delete
					</button>
				</div>

				<span *ngSwitchDefault>
					{{ element[column.key] }}
				</span>

			</div>

			<div *ngIf="element.isEdit"
				[ngSwitch]="column.type">
        <form class="example-form" [formGroup]="pessoaForm">
				<div *ngSwitchCase="'isEdit'"
					class="btn-edit">
					<button (click)="element.isEdit = !element.isEdit; updatePessoa()"
						mat-button>
						Done
					</button>
				</div>

        <mat-form-field *ngSwitchCase="'id'"
          class="form-input">
          <input [type]="column.type"
            [(ngModel)]="element[column.key]"
            matInput formControlName="{{column.key}}">
        </mat-form-field>

				<mat-form-field *ngSwitchDefault
					class="form-input">
					<input [type]="column.type"
						[(ngModel)]="element[column.key]"
						matInput formControlName="{{column.key}}">
				</mat-form-field>
      </form>
			</div>

		</td>
	</ng-container>

	<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
	<ng-container matColumnDef="expandedDetail">
		<td *matCellDef="let element"
			[attr.colspan]="columnsToDisplay.length"
			mat-cell>
			<div *ngIf="element.contatos?.data?.length"
				[@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
				class="example-element-detail">
				<div *ngIf="expandedElement"
					class="inner-table mat-elevation-z8">
<!--           <mat-form-field>
            <input matInput (keyup)="filter = $any($event.target).value" placeholder="Filter">
          </mat-form-field> -->
					<table #innerTables
						#innerSort="matSort"
						[dataSource]="element.contatos"
						mat-table
						matSort>

						<ng-container *ngFor="let innerColumn of innerDisplayedColumns"
							matColumnDef="{{innerColumn.key}}">

							<th *matHeaderCellDef
								mat-header-cell
								mat-sort-header>
								{{innerColumn.label}}
							</th>

							<td *matCellDef="let element"
								mat-cell>

								<div *ngIf="!element.isEdit"
									[ngSwitch]="innerColumn.type">

									<div *ngSwitchCase="'isEdit'"
										class="btn-edit">
										<button (click)="element.isEdit = !element.isEdit"
											mat-button>
											Edit
										</button>
										<button (click)="deleteContatos(element.id)"
											mat-button
											class="button-remove">
											Delete
										</button>
									</div>

									<span *ngSwitchCase="'isEdit'"></span>

									<span *ngSwitchDefault>
										{{ element[innerColumn.key] }}
									</span>

								</div>

								<div *ngIf="element.isEdit"
									[ngSwitch]="innerColumn.type">
                  <form class="example-form" [formGroup]="contatoForm">
									<div *ngSwitchCase="'isEdit'"
										class="btn-edit">
										<button (click)="element.isEdit = !element.isEdit; updateContatos()"
											mat-button>
											Done
										</button>
									</div>

                  <mat-form-field *ngSwitchCase="'id'"
                    class="form-input">
                    <input [type]="innerColumn.type"
                      [(ngModel)]="element[innerColumn.key]"
                      matInput formControlName="{{innerColumn.key}}">
                  </mat-form-field>

                  <mat-form-field *ngSwitchCase="'pessoa_id'"
                  class="form-input">
                  <input [type]="innerColumn.type"
                    [(ngModel)]="element[innerColumn.key]"
                    matInput formControlName="{{innerColumn.key}}">
                </mat-form-field>

									<mat-form-field *ngSwitchDefault
										class="form-input">
										<input [type]="innerColumn.type"
											[(ngModel)]="element[innerColumn.key]"
											matInput formControlName="{{innerColumn.key}}">
									</mat-form-field>
                  </form>
								</div>

							</td>
						</ng-container>

						<tbody>
							<tr *matHeaderRowDef="displayedColumns"
								mat-header-row></tr>
							<tr *matRowDef="let row; columns: displayedColumns"
								mat-row></tr>
						</tbody>
					</table>
				</div>
			</div>
		</td>
	</ng-container>

	<tbody>
		<tr *matHeaderRowDef="displayedColumnsFirstTable"
			mat-header-row></tr>
		<tr *matRowDef="let element; columns: displayedColumnsFirstTable;"
			[class.example-element-row]="element.contatos?.data?.length"
			[class.example-expanded-row]="expandedElement === element"
			(click)="toggleRow(element)"
			mat-row>
		</tr>
		<tr *matRowDef="let row; columns: ['expandedDetail']"
			mat-row
			class="example-detail-row"></tr>
	</tbody>
</table>
