<table class="fold-table">
  <thead>
    <tr>
      <th>Lista de Pessoas</th>
    </tr>
  </thead>
  <tbody>
    <tr class="" *ngFor="let item of pessoa.contatos.nome">
      <td>{{ item.nome }}</td>
    </tr>
    <tr class="">
      <td colspan="7">
        <div class="">
          <h3>Lista de Contatos</h3>
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Whatsapp</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sony</td>
                <td>13245</td>
                <td>John Doe</td>
                <td>064578</td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
